<!DOCTYPE html>
<head>
  <title>所有商户 | XZ点评</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<script>
  var choice = 'not defined';
  $(function(){
    $('#confirm').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var name = button.data('name') // Extract info from data-* attributes
      choice = button.data('id');
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-body p').text('你选择的是：' + name + '。确认推荐这家餐厅给Jason吗？')
    })
  })
  function confirm() {
    $.post("/exp/log", {
      action: 'choice',
      value: choice,
      userid: '{{ user.userid }}'
    }).done(function(data) {
      window.location.href = '/exp/survey'
    })
  }
</script>
  <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">操作确认</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="font-weight-bold">你选择的是：无</p>
          <small>点击确认后将无法更改你的选择。请确保这是已经浏览了所有商铺后做出的最终决定。</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">我再想想</button>
          <button type="button" class="btn btn-primary" onclick="confirm()">确认</button>
        </div>
      </div>
    </div>
  </div> 

  <div class="container">
    <div class="py-5 text-center">
      <h2>实验</h2>
    </div>
    <p class="lead">Jason今天想要尝试一家新的餐厅，他在foodadvisor.com上找到了几家不错的餐厅。他对这些餐厅的评分、菜式、价位、地理位置等各个方面都很满意，这让他很难做出决定。他希望你能帮他在foodadvisor.com看一看各个餐厅的评价，给他一些建议。</p>
    <p class="lead font-weight-normal">请你在阅读完foodadvisor.com上Jason所选的六家餐厅的用户评论后，选出你认为最满意的一家，并点击“选择”按钮，推荐给Jason。</p>
  </div>

  
  <div class="container">
    <div class="row card-deck">
    <!-- <div class="row card-deck mb-3 text-center"> -->

      {% for store in stores %}
      <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ store.store_name }}</h5>
              <p>{{store.store_stars}} / {{ store.store_num_review }}条评论</p>
              {% comment <p>{% with ''|center:store.store_stars as range %}{% for _ in range %}★{% endfor %}{% endwith %} / {{ store.num_review }}条评论</p> %} {% endcomment %}
              <p class="card-text">人均：{{ store.store_avg }}元</p>
              {% if store.store_rec %}
              <p>推荐菜：{{ store.store_rec }}</p>
              {% endif %}
              <div class="d-flex justify-content-between">
                <a role="button" class="btn btn-sm btn-outline-primary" href="all/{{store.store_id}}">查看详情</a>
                <form action="all" method="POST">{% csrf_token %}
                  <input type="hidden" name="msg" value="{{ store.store_id }}">
                  <button type="button" data-name="{{ store.store_name }}" data-id="{{ store.store_id }}" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirm">选择</button>
                </form>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}

      <!-- {% for store in stores %}
      <div class="col-md-4 mb-4">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ store.name }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{ store.stars }}<small class="text-muted"> / {{ store.num_review }}条评论</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>人均：{{ store.average }}</li>
            <li>
推荐菜：{{ store.recommendation|join:", " }}
            </li>
          </ul>
          <button type="button" class="btn btn-lg btn-outline-primary"><a href="all/{{store.store_id|cut:'http://www.dianping.com/shop/'}}">查看详情</a></button>
          <form action="all" method="POST">{% csrf_token %}
            <input type="hidden" name="decision" value="{{ store.store_id|cut:'http://www.dianping.com/shop/' }}">
            <button type="submit" class="btn btn-lg btn-primary">选择</button>
          </form>
        </div>
      </div>
    {% endfor %} -->
    </div>
  

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; foodadvisor.com, All Rights Reserved. </small>
          </div>
          <div class="col-6 col-md">
            <h5>公司信息</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">关于foodadvisor</a></li>
              <li><a class="text-muted" href="#">媒体报道</a></li>
              <li><a class="text-muted" href="#">投资者关系</a></li>
              <li><a class="text-muted" href="#">联系方式</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>用户社区</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">用户诚信公约</a></li>
              <li><a class="text-muted" href="#">站务论坛</a></li>
              <li><a class="text-muted" href="#">应用下载</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>商务合作</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">推广服务</a></li>
              <li><a class="text-muted" href="#">开放平台</a></li>
              <li><a class="text-muted" href="#">商企通</a></li>
            </ul>
          </div>
        </div>
      </footer>
  </div>
</body>
<style>
body {
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover {
  color: white;
  text-decoration: none;
}



</style>