<!DOCTYPE html>
<head>
  <title>store list</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">DZ点评</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Logout</a>
  </div>
  
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">川菜</h1>
    <p class="lead">都是川菜。</p>
  </div>
  
  <div class="container">
    <div class="row card-deck">
    <!-- <div class="row card-deck mb-3 text-center"> -->
      {% for store in stores %}
      <div class="col-md-4 mb-4">
      <!-- <div class="col-md-4 card mb-4 shadow-sm"> -->
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ store.name }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{ store.stars }}<small class="text-muted"> / {{ store.num_review }}条评论</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>人均：{{ store.average }}</li>
            <li>
              <span>推荐菜：</span>
              {% for rec in store.recommendation %}
              <span>{{rec}} </span>
              {% endfor %}
            </li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="all/{{store.store_id|cut:'http://www.dianping.com/shop/'}}">查看详情</a></button>
        </div>
      </div>
    {% endfor %}
    </div>
  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>
<style>
body {
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto
}
</style>