<!DOCTYPE html>
<head>
  <title>store list</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">详情页</h1>
    <p class="lead">都是川菜。</p>
  </div>
  
</body>
<style>
body {
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto
}
</style>