<!DOCTYPE html>

<head>
  <title>{{store.store_name}} - 评分，点评，商户信息 | XZ点评</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <!-- <div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">DZ点评</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    
    <a class="btn btn-outline-primary" href="#">Logout</a>
  </div> -->
    {% if user.setting == '4' or user.setting == '5'%}
    <script>
      $(function(){
        $('#collapsible5').on('shown.bs.collapse',function () {
          $.post("/exp/log", {
            action: 'warning',
            value: 'shown',
            userid: '{{ user.userid }}'
          });
          $('#toggle').text('[ - ] 点击隐藏建议')
        })
        $('#collapsible5').on('hidden.bs.collapse', function () {
          $.post("/exp/log", {
            action: 'warning',
            value: 'hidden',
            userid: '{{ user.userid }}'
          });
          $('#toggle').text('[+] 点击查看建议')
        })
      })
    </script>
      <button  data-toggle="collapse" data-target="#collapsible5" id="toggle5" class="sticky-top alert alert-warning" role="alert">
        <strong>请注意这些评论可能存在虚假评论（即：不符合事实的刻意吹捧或者诋毁的评论）</strong>
        {% if user.setting == '5' %}
        <span id="toggle">[ - ] 点击隐藏建议</span>
        <div class="collapse show" id="collapsible5">
          <div style="margin-top: 20px;line-height: 30px">
            研究表明以下几条建议可以帮助有效识别虚假评论：
            <br>
            1）如果评论内容包含更多的感知信息（包括：听觉、视觉、味觉、嗅觉和触觉等细节信息），那么更有可能属于真实评论。
            <br>
            2）如果评论内容包含更多的空间细节（包括：地点、参与人物以及人物之间相对位置等），那么更有可能属于真实评论。
            <br>
            3）如果评论内容包含更多的时间细节（包括：事件发生的时间顺序以及持续时间的长短），那么更有可能属于真实评论。
            <br>
            4）如果评论内容包含很多作者的推理或者想象等认知信息，那么更有可能属于虚假评论。
            <br>
            5）如果评论内容包含更多的表示亲近关系的语言（例如，包含更多的第一人称的词语），那么更有可能是真实评论；如果内容表现出说话者更多的回避和排斥，那么该条评论更有可能是虚假评论。
            
          </div>
        </div>
        {% endif %}
    </button>
    {% endif %}

  
  {% if user.setting == '2' or user.setting == '3'%}
  <script>
    $(window).on("load", function(){$('#warningModal').modal('show')})
    function dismiss() {
      console.log('关闭')
      $('#warningModal').modal('hide')
    }
  </script>
        <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">网站提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  请注意这些评论可能存在虚假评论
                  <br>
                  （即：不符合事实的刻意吹捧或者诋毁的评论）
                  {% if user.setting == '3' %}
                    研究表明以下几条建议可以帮助有效识别虚假评论：
                    <br>
                    1）如果评论内容包含更多的感知信息（包括：听觉、视觉、味觉、嗅觉和触觉等细节信息），那么更有可能属于真实评论。
                    <br>
                    2）如果评论内容包含更多的空间细节（包括：地点、参与人物以及人物之间相对位置等），那么更有可能属于真实评论。
                    <br>
                    3）如果评论内容包含更多的时间细节（包括：事件发生的时间顺序以及持续时间的长短），那么更有可能属于真实评论。
                    <br>
                    4）如果评论内容包含很多作者的推理或者想象等认知信息，那么更有可能属于虚假评论。
                    <br>
                    5）如果评论内容包含更多的表示亲近关系的语言（例如，包含更多的第一人称的词语），那么更有可能是真实评论；如果内容表现出说话者更多的回避和排斥，那么该条评论更有可能是虚假评论。

                  {% endif %}
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" onclick="dismiss()">已知晓</button>
              </div>
            </div>
          </div>
        </div> 
  {% endif %}

  <main role="main" class="container">
    <div class="jumbotron lh-100">
      <h2>{{store.store_name}}</h2>
      <h6>评分：{{store.store_stars}}</h6>
      <h6>人均：{{store.store_avg}}元</h6>
      <h6>评价：{{store.store_num_review}}条</h6>
      <h6>推荐菜：
        {% for r in store.store_rec %}
        <span>{{r}}</span>
        {%endfor%}
      </h6>
      <a class="btn btn-outline-secondary btn-sm" href="#review" role="button">查看评价</a>
      <a class="btn btn-outline-secondary btn-sm" href="/exp/all" role="button">返回列表</a>
    </div>
  </main>

  <div class="my-3 p-3 bg-white rounded shadow-sm" id="review">
    <h6 class="border-bottom border-gray pb-2 mb-0">最新评价</h6>

    <!-- <div class="alert alert-warning" role="alert">这是一条警示信息。</div> -->

    {% for review in reviews %}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="{% cycle '#007bff' '#e83e8c' '#6f42c1' %}" /><text x="50%" y="50%" fill="{% cycle '#007bff' '#e83e8c' '6f42c1' %}" dy=".3em"></text>
      </svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ review.review_author }}
          <!-- <img src="{{ review.level|first }}" style="width:40px;height:13px;"> 评分：{{ review.stars|slice:"1" }} -->
        </strong>
        {{ review.review_text }}
          <!-- <strong class="d-block text-gray-dark">评论时间：{{ review.date|first }} | 1人赞了此评价</strong> -->
      </p>
    </div>
    {% endfor %}

    <small class="d-block text-right mt-3" id="backtotop"><a href="#">返回顶部</a></small>

  </div>
      <!-- <div class="row card-deck mb-3 text-center"> -->

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; restaurantfinder.com, All Rights Reserved. </small>
        </div>
        <div class="col-6 col-md">
          <h5>公司信息</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">关于xx点评</a></li>
            <li><a class="text-muted" href="#">媒体报道</a></li>
            <li><a class="text-muted" href="#">投资者关系</a></li>
            <li><a class="text-muted" href="#">联系方式</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>用户社区</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">用户诚信公约</a></li>
            <li><a class="text-muted" href="#">站务论坛</a></li>
            <li><a class="text-muted" href="#">应用下载</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>商务合作</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">推广服务</a></li>
            <li><a class="text-muted" href="#">开放平台</a></li>
            <li><a class="text-muted" href="#">商企通</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script>
  var has_reached_bottom = false;
$(function(){
    $(window).scroll(function(){
      h = $("#backtotop").offset().top-$(document).scrollTop() - $(window).height();
      if(h<0 && !has_reached_bottom) {
        has_reached_bottom = true;
        // $.post("/exp/log", {
        //     action: 'all review',
        //     value: '{{ request.path }}',
        //     userid: '{{ user.userid }}'
        // }).done(function(Data) {
        //   has_reached_bottom = true;
        // });
        $.ajax({
          type: "POST",
          url: "/exp/log",
          data: {
            action: 'all review',
            value: '{{ request.path }}',
            userid: '{{ user.userid }}'
          },
          error: function() {has_reached_bottom = false;}
        });
      }
    })
})
  </script>
</body>
<style>
  body {
    width: 80%;
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-weight: 200;
  }

  .jumbotron {
    background-color: #fff;
    color: #444;
  }

  #toggle5 {
    display: block;
    text-align: left;
    width: 100%;
    outline: none;
  }

  #toggle {
    position: absolute;
    right: 35px;
  }

  .form {
    width: 40%;
    margin: 0 auto
  }

  #toast {
    position: fixed;
    right: 20px;
  }
</style>