<!DOCTYPE html>

<head>
  <title>survey</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h2>感谢参与</h2>
      <p class="lead">感谢您的参与！请点击按钮退出系统。</p>
    </div>

    <button type="button" class="btn btn-primary mb-2"><a href="logout">退出</a></button>

  </div>
</body>
<style></style>