<!DOCTYPE html>

<head>
  <title>welcome back</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h2>{{ survey.title }}</h2>
    </div>
    <p class="lead">{{ survey.description }}</p>
    <!-- <p class="lead">本次实验以匿名的方式进行，不会涉及和透露任何个人隐私，采集到的数据仅做研究用。我们承诺会严格保密实验数据，只展示实验结果的统计数据。由于试验研究结果的准确性取决于您回答的客观性和真实性，请您仔细阅读实验说明以及问卷内容，根据自己的实际情况认真作答。</p> -->
    <!-- <p class="lead">在实验开始之前，再次感谢您的支持与配合！</p> -->
    <br>

    <form method="POST" action="survey">{% csrf_token %}
      {% for q in qlist %}
      <div class="form-group">
        <label for="{{ q.id }}">{{ forloop.counter }}. {{q.caption}}</label>
        <br>
        {% for o in q.options %}
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="{{ o.id }}">
            <input class="form-check-input" type="radio" name="{{ q.id }}" id="{{ o.id }}" value="emmm">
            {{ o.description }}
          </label>
        </div>
        {% endfor %}
        <br>
        <br>
      {% endfor %}
      <br>
      <div class="text-center">
      <a href="instructions"><button type="button" class="btn btn-primary mb-2">提交并继续</button></a>
      </div>
    </form>
  </div>
  <!-- <div class="form">
    <button><a href="instructions">continue</a></button>
    <button><a href="logout">logout</a></button>
  </div> -->
</body>
<style>
  body {
    width: 80%;
    margin: 0 auto;
  }

  .form {
    width: 40%;
    margin: 0 auto
  }
</style>