<!DOCTYPE html>
<head>
  <title>instructions</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
          <h2>实验指导</h2>
          <p>you are logged in as: {{request.session.username}}</p>
        </div>
        <p class="lead">网友A在点评网站上挑选出了几家餐厅，这些餐厅的评分、菜式、价位、地理位置等各种因素他都同样满意，这让他很难做出选择。他想请你帮忙，通过阅读餐厅评论，选择出你认为其中最好的餐厅。</p>
        <br>
        <div class="text-center">
          <a href="start"><button type="button" class="btn btn-primary mb-2">开始实验</button></a>
        </div>
    
      </div>
</body>
<style>
body {
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto
}
</style>