<!DOCTYPE html>
<head>
  <title>welcome!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  {% if request.session.is_active %}
  <p>当前登录用户: {{ request.session.username }}</p>
  <a role="button" class="btn btn-sm btn-primary" href="index">继续实验</a>
  <a role="button" class="btn btn-sm btn-primary" href="logout">退出登录</a>
  {% else %}
<div class="py-5 text-center">
  <h2>Welcome!</h2>
</div>
<div class="form">
  <form action="register" method="POST">{% csrf_token %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">进入实验</button>
</form>
</div>
  <!-- <div class="py-5 text-center">
    <h2>Welcome!</h2>
    <p class="lead">请填写个人信息。</p>
  </div>
  <div class="form">
    {% if request.GET.urlencode and request.GET.mode == 'error' %}
    <div class="alert alert-warning" role="alert">您必须先登录才能开始实验。</div>
    {% endif %}
    <form action="register" method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名" required>
      </div>
      <div class="form-group">
        <label for="number">学号</label>
        <input type="text" class="form-control" id="number" name="number" placeholder="请输入学号"required>
      </div>
      <div class="form-group">
        <label for="contact">联系方式</label>
        <input type="text" class="form-control" id="contect" name="contact" placeholder="电话/邮箱" required>
        <small id="emailHelp" class="form-text text-muted">个人信息仅用于身份识别，不作为实验数据使用。我们将严格保护您的隐私。</small>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">提交</button>
    </form>
  </div> -->
  {% endif %}
</body>
<style>
body {
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 40%;
  margin: 0 auto
}
</style>